<tr class="secondrow">
	<td>{$lang->items['LANG_ACP_BEWERBFRM_TPL_EDITFIELD_BIT_1']}</td>
	<td>{$row['ID']}</td>
</tr>
<tr class="firstrow">
	<td>{$lang->items['LANG_ACP_BEWERBFRM_TPL_EDITFIELD_BIT_2']}</td>
	<td>
		<select name="savefield_page">
			{$savefield_page_options}
		</select>
	</td>
</tr>
<tr class="secondrow">
	<td>{$lang->items['LANG_ACP_BEWERBFRM_TPL_EDITFIELD_BIT_3']}</td>
	<td>
		<select name="savefield_page">
			{$savefield_fieldtype_options}
		</select>
	</td>
</tr>
<tr class="firstrow">
	<td>{$lang->items['LANG_ACP_BEWERBFRM_TPL_EDITFIELD_BIT_4']}</td>
	<td><input type="text" name="savefield_fieldname" value="{$row['fieldname']}" placeholder="Name des Feldes"></td>
</tr>
<tr class="secondrow">
	<td>{$lang->items['LANG_ACP_BEWERBFRM_TPL_EDITFIELD_BIT_5']}</td>
	<td><textarea name="savefield_fieldcontent">{$row['fieldcontent']}</textarea></td>
</tr>
